* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-position: top;
    background-size: cover;
}

.container-fluid {
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
}

.nav {
    margin-bottom: 15px;
}

/* Header */

.header-style-settings>.btn:last-child,
.btn-group {
    margin-left: 10px;
}

/* Style Settings hidden checkbox */
.style-settings__checkbox,
.style-settings__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Style Settings buttons */
.style-settings__btn:hover {
    color: black;

    background-color: #a7a7a7;
    border-color: #a7a7a7;
}

.style-settings__btn-active {
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}

/* Select */

.dropdown-menu {
    padding: 0;
}

.btn-group__select>p {
    cursor: pointer;

    margin: 0;
    padding: 5px 15px;
}

/* Section Text */

.text {
    padding: 35px;
}

/* Dropdown color palette */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    min-height: 200px;
}

.gallery-color-item {
    cursor: pointer;

    width: 63px;
    height: 63px;

    border-radius: 5px;
}

.gallery-image-item {
    cursor: pointer;

    width: 150px;
    height: 63px;

    background-size: cover;

    border-radius: 5px;
}

/* Form Sing In */

.form-sing-in>.form-group {
    margin-bottom: 15px;
}

.form-sing-in>button {
    width: 100%;
}

/* Textarea */

.new-text {
    width: 100%;
    min-height: 900px;

    border: none;

    resize: none;
}

.new-text:focus {
    outline: none;
}

/* Form error */

.form-sing-in-error {
    margin-bottom: 10px;
    color: #dc3545;
}

/* Addition */

table td {
    text-align: center;
}

.none {
    display: none;
}